/*==========================
    Stay Golden Area 
===========================*/
.stay-golden-row {
    background-image: url(/assets/images/bg/jenna-duffy.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px 0;
}

.stay-golden-logo {
 width: 50%;
 margin: 0 auto;
}

.content-container {
    height: 40px; 
    margin-bottom: 20px;
}

.linktree{
    margin: 0 auto;
    @media #{$laptop-device} {
    }
    @media #{$sm-layout} {
    }
    @media #{$md-layout} {
    }
    @media #{$large-mobile} {
    }
    // Linktree Style
    &.linktree__style--1 {
        padding: 30px 35px;
        @extend %transition;
        @extend %posrelative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 50%;

        @media #{$sm-layout} {
          width: 90%;
        }
        @media #{$md-layout} {
           width: 70%;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            @extend %transition;
            @media #{$large-mobile} {
                opacity: 1;
                visibility: visible;
            }
        }
        .icon {
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 23px;
            display: inline-flex;
            color: $theme-color;
            @extend %transition;
            @media #{$md-layout} {
                margin-bottom: 11px;
            }
            @media #{$large-mobile} {
                color: #ffffff;
            }
           svg {
                stroke-width: 1 !important;
           }
        }
        .content {
            background: #84301A 500px 50px;
            color: white;

            &:hover {
                background: #FBDE00;
            }
            
            h3 {
                color: white;
            
                &.title {
                    margin: 10px 0;
                    font-weight: 500;
                    @extend %transition;
                    @media #{$laptop-device} {
                        font-size: 19px;
                    }
                    @media #{$sm-layout} {
                        font-size: 20px;
                    }
                    @media #{$md-layout} {
                        margin-bottom: 8px;
                    }
                    @media #{$large-mobile} {
                    }
                    a {
                        color: inherit;
                        @media #{$large-mobile} {
                        }
                    }
                }
            }
            p {
                @extend %transition;
                color: rgba(29,29,36,0.75);
                @media #{$large-mobile} {
                    color: #000073;
                }

            }
        }

        &:hover{
            transform: translateY(-5px);
            &::before {
                opacity: 1;
                visibility: visible;
            }
            .icon{
                color: #ffffff;
            }
            .content{
                h3 {
                    &.title{
                        @extend %textwhite;        
                    }
                }
                p{
                    @extend %textwhite;  
                }
            }
        }
    }
    
}











